<section class="py-24">
  <div class="container">
    <div class="flex items-center gap-2">
      <p>Tags:</p>
      <div class="flex flex-wrap items-center gap-1">
        @for (item of tagData; track $index) {
          <a
            [routerLink]="[]"
            class="border border-default-300 rounded-md text-xs font-medium tracking-wider transition-all duration-150 hover:shadow-lg focus:shadow-lg py-2 px-3"
            >{{ item }}</a
          >
        }
      </div>
    </div>

    <div
      class="grid lg:grid-cols-3 grid-cols-1 gap-10 items-center lg:py-16 py-14"
      data-aos="fade-up"
      data-aos-duration="300"
    >
      <div class="lg:col-span-2">
        <div class="grid md:grid-cols-5 gap-10">
          <div class="md:col-span-2 col-span-3">
            <img src="assets/images/blog/post1.jpg" class="w-full h-full rounded-md" />
          </div>

          <div class="col-span-3">
            <div class="flex flex-col gap-14 justify-between xl:h-full">
              <div>
                <span
                  class="bg-orange-500/10 text-orange-500 font-medium rounded-md text-xs py-1 px-2"
                  ><a [routerLink]="[]">Announcement</a></span
                >
                <h1 class="text-lg my-3 transition-all hover:text-primary">
                  <a [routerLink]="[]">Announcing the free upgrade for the subscribed plans</a>
                </h1>
                <p class="text-sm/relaxed tracking-wider text-default-500">
                  We are glad to announce that, we are going to upgrade all the subscribed accounts
                  with the premium features this week...
                  <a [routerLink]="[]" class="text-primary">read more</a>
                </p>
              </div>
              <div>
                <div class="flex items-center gap-2">
                  <img src="assets/images/avatars/img-2.jpg" class="h-10 w-10 rounded-md" />
                  <div>
                    <h6 class="text-sm transition-all hover:text-primary">
                      <a [routerLink]="[]">Emily Blunt</a>
                    </h6>
                    <p class="text-sm text-default-500">11 Mar, 2020 · 3 min read</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="border border-default-200 rounded-md p-5 w-full">
          <h1 class="mb-3">Get the latest on product development from Prompt</h1>
          <p class="text-sm/relaxed tracking-wider text-default-500">
            We send a weekly newsletter containing latest updates in product development
          </p>

          <div class="flex flex-col md:flex-row lg:flex-col gap-2 mt-7">
            <input
              type="email"
              class="w-full md:w-1/2 lg:w-full text-sm border-default-300 focus:border-default-200 focus:ring-0 rounded-md bg-white py-3"
              id="Email"
              placeholder="Enter Your Email"
            />
            <button
              class="w-full md:w-1/2 lg:w-full bg-primary text-white rounded-md text-sm font-semibold flex-none shadow shadow-primary/50 hover:shadow-lg hover:shadow-primary/30 focus:shadow-none focus:outline focus:outline-primary/20 px-8 py-3"
            >
              Subscribe
            </button>
          </div>
          <p class="text-sm text-default-500 mt-2">*No spam ever.</p>
        </div>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 grid-cols-1 gap-6 lg:py-16 py-14" data-aos="fade-up">
      @for (item of blogData; track $index) {
        <div>
          <img [src]="item.image" class="rounded-md mb-5" />

          <span
            class="{{ item.categoryBg }} {{
              item.className
            }} font-medium rounded-md text-xs py-1 px-2"
          >
            <a [routerLink]="[]">{{ item.category }}</a>
          </span>

          <h1 class="text-lg my-3 transition-all hover:text-primary">
            <a [routerLink]="[]">{{ item.title }}</a>
          </h1>

          <p class="text-sm/relaxed tracking-wider text-default-500">
            {{ item.description }}
            <a [routerLink]="[]" class="text-primary">read more</a>
          </p>
        </div>
      }
    </div>

    <div
      class="grid lg:grid-cols-3 grid-cols-1 gap-10 items-center lg:py-16 py-14"
      data-aos="fade-up"
    >
      <div class="lg:col-span-2">
        <div class="grid md:grid-cols-5 gap-10">
          <div class="md:col-span-2 col-span-3">
            <img src="assets/images/blog/post1.jpg" class="w-full h-full rounded-md" />
          </div>

          <div class="col-span-3">
            <div class="flex flex-col gap-14 justify-between xl:h-full">
              <div>
                <span
                  class="bg-orange-500/10 text-orange-500 font-medium rounded-md text-xs py-1 px-2"
                  ><a [routerLink]="[]">Community</a></span
                >
                <h1 class="text-lg my-3 transition-all hover:text-primary">
                  <a [routerLink]="[]">Will Web Design Ever Rule the World?</a>
                </h1>
                <p class="text-sm/relaxed tracking-wider text-default-500">
                  The web is changed in the current era a lot. Many new trends are being used in the
                  market at the moment...
                  <a [routerLink]="[]" class="text-primary">read more</a>
                </p>
              </div>
              <div>
                <div class="flex items-center gap-2">
                  <img src="assets/images/avatars/img-1.jpg" class="h-10 w-10 rounded-md" />
                  <div>
                    <h6 class="text-sm transition-all hover:text-primary">
                      <a [routerLink]="[]">Greeva N</a>
                    </h6>
                    <p class="text-sm text-default-500">9 Mar, 2020 · 5 min read</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="border border-default-200 relative shadow-xl rounded-lg w-full">
          <div class="relative">
            <div class="absolute inset-0 bg-black/20"></div>
            <div class="absolute top-4 right-4 text-sm bg-red-500 text-white rounded py-1 px-3">
              Resource
            </div>
            <img src="assets/images/blog/post-bg.png" class="w-full" />

            <div class="absolute right-5 bottom-3 left-5 text-white">
              <h2 class="text-2xl">
                <a [routerLink]="[]">Top 10 ideas to improve the team productivity</a>
              </h2>
              <div class="flex mt-3">
                <a href="" class="ms-1 -me-3 shadow-lg">
                  <img
                    src="assets/images/avatars/img-1.jpg"
                    alt="image"
                    class="w-8 h-8 shadow-lg border-2 border-white rounded-full"
                  />
                </a>
                <a href="" class="ms-1 -me-3 shadow-lg">
                  <img
                    src="assets/images/avatars/img-2.jpg"
                    alt="image"
                    class="w-8 h-8 shadow-lg border-2 border-white rounded-full"
                  />
                </a>
                <a href="" class="ms-1 -me-3 shadow-lg">
                  <img
                    src="assets/images/avatars/img-3.jpg"
                    alt="image"
                    class="w-8 h-8 shadow-lg border-2 border-white rounded-full"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 gap-6 lg:py-16 py-14" data-aos="fade-up">
      @for (item of blogData; track $index) {
        <div>
          <img [src]="item.image" class="rounded-md mb-5" />

          <span
            class="{{ item.categoryBg }} {{
              item.className
            }} font-medium rounded-md text-xs py-1 px-2"
          >
            <a [routerLink]="[]">{{ item.category }}</a>
          </span>

          <h1 class="text-lg my-3 transition-all hover:text-primary">
            <a [routerLink]="[]">{{ item.title }}</a>
          </h1>

          <p class="text-sm/relaxed tracking-wider text-default-500">
            {{ item.description }}
            <a [routerLink]="[]" class="text-primary">read more</a>
          </p>
        </div>
      }
    </div>

    <div class="flex justify-center items-center gap-2">
      <div class="flex items-center">
        <a
          [routerLink]="[]"
          class="border border-default-300 rounded-md text-sm tracking-wider transition-all duration-150 hover:shadow-lg focus:shadow-lg py-2 px-3"
          ><iconify-icon icon="fa6-solid:arrow-left" class="me-2"></iconify-icon> Previous</a
        >
      </div>

      <div class="flex items-center">
        <a
          [routerLink]="[]"
          class="border border-default-300 rounded-md text-sm tracking-wider transition-all duration-150 hover:shadow-lg focus:shadow-lg py-2 px-3"
          >Next <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon
        ></a>
      </div>
    </div>
  </div>
</section>
