<section class="lg:py-24 py-16">
  <div class="container">
    <div class="text-center">
      <span class="text-sm bg-primary/10 text-primary/40 rounded-full px-3 py-1">Our Team</span>
      <h1 class="text-3xl/tight font-medium mt-3 mb-4">Meet Our Team</h1>
      <p class="text-default-500">
        Start working with<span class="text-primary"> Prompt </span>to manage your workforce better.
      </p>
    </div>

    <div class="mt-14">
      <div class="grid xl:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-12" data-aos="fade-up">
        @for (member of teamData; track member.name) {
          <div>
            <div class="flex gap-4 items-center">
              <img [src]="member.avatar" alt="avatar" class="h-16 w-16 rounded-md" />
              <div>
                <h6 class="font-medium">{{ member.name }}</h6>
                <p class="text-default-500">{{ member.position }}</p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
