<section class="pt-20">
        <div class="container">
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-6">
                <div data-aos="fade-up" data-aos-duration="600">
                    <h2 class="md:text-3xl text-xl font-semibold my-5">Just say hi.</h2>
                    <p class="text-default-700">I am open to discuss your next project, improve user experience of an existing one or help with your UX/UI design challenges.</p>
                    <p class="text-default-500 mt-12">Email me at</p>
                    <h4>
                        <a [routerLink]="[]" class="text-lg font-semibold text-default-600">hello@coderthemes.com</a>
                    </h4>
                    <div class="mt-12">
                        <div class="flex flex-col gap-3">
                            <h5 class="text-default-400">Social</h5>
                            <div class="flex gap-5">
                                <span>
                                    <a [routerLink]="[]">
                                        <iconify-icon icon="tabler:brand-facebook" width="28" height="28" class="hover:text-primary transition-all"></iconify-icon>
                                    </a>
                                </span>
                                <span>
                                    <a [routerLink]="[]">
                                        <iconify-icon icon="tabler:brand-x" width="28" height="28" class="hover:text-primary transition-all"></iconify-icon>
                                    </a>
                                </span>
                                <span>
                                    <a [routerLink]="[]">
                                        <iconify-icon icon="tabler:brand-instagram" width="28" height="28" class="hover:text-primary transition-all"></iconify-icon>
                                    </a>
                                </span>
                                <span>
                                    <a [routerLink]="[]">
                                        <iconify-icon icon="tabler:brand-dribbble" width="28" height="28" class="hover:text-primary transition-all"></iconify-icon>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-aos="fade-up" data-aos-duration="900">
                    <form class="w-full">
                        <div>
                            <input class="w-full text-default-700 border border-default-200 rounded py-3 px-4 mb-4 leading-tight focus:outline-none" id="grid-first-name" type="text" placeholder="Your name">
                            <input class="w-full text-default-700 border border-default-200 rounded py-3 px-4 mb-4 leading-tight focus:outline-none" id="email" name="email" type="email" autocomplete="email" placeholder="Your email where we can reach">
                            <input class="w-full text-default-700 border border-default-200 rounded py-3 px-4 mb-4 leading-tight focus:outline-none" type="text" name="Subject" id="Subject" autocomplete="address-level2" placeholder="Subject">
                            <textarea class="w-full text-default-700 border border-default-200 rounded py-3 px-4 mb-4 leading-tight focus:outline-none" id="about" name="about" rows="5" placeholder="Write your message here. Keep it simple, concise and intriguing!"></textarea>
                        </div>
                        <div class="flex justify-end">
                            <button type="submit" class="py-3 px-6 rounded border border-red-500 font-semibold text-white bg-red-500 hover:shadow-lg hover:shadow-red-500/50 focus:outline focus:outline-red-500/50 transition-all duration-500">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="mt-10 border-default-200">
        </div>
    </section>