<!-- feature Section Start -->
<section class="overflow-hidden">
    <div class="xl:py-24 py-16">
        <div class="container">

            <div class="text-center">
                <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Features</span>
                <h1 class="text-3xl/tight font-medium mt-3 mb-4">Better Management. Better Performance</h1>
                <p class="text-default-500">Start working with <span class="text-primary">Prompt</span> to manage
                    your workforce better</p>
            </div>

            <div class="xl:pt-16 xl:pb-28 py-16">
                <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">

                    <div class="relative">
                        <div class="hidden sm:block">
                            <div class="after:w-20 after:h-20 after:absolute after:-top-8 after:-start-8 2xl:after:end-0 after:bg-[url('assets/images/pattern/dot5.svg')]">
                            </div>
                            <div class="before:w-20 before:h-20 before:absolute before:-bottom-8 before:-end-8 before:bg-[url('assets/images/pattern/dot2.svg')]">
                            </div>
                        </div>
                        <img src="assets/images/hero/saas1.png" alt="saas1" data-aos="fade-right" data-aos-duration="400">
                    </div>

                    <div class="lg:ms-24">
                        <div class="hs-accordion-group" data-aos="fade-up" data-aos-duration="500">
                            <!-- 1 -->
                            <div class="hs-accordion active">
                                <button class="hs-accordion-toggle active pt-2 inline-flex items-center gap-x-4 w-full font-medium text-left text-default-800 transition-all hover:text-default-500 dark:text-default-200 dark:hover:text-default-400">
                                    <div class="bg-blue-500/10 rounded-lg flex items-center justify-center h-12 w-12">
                                        <span class="iconify solar--shield-user-bold-duotone size-6 text-blue-500"></span>
                                    </div>
                                    <h1 class="font-medium mb-4 mt-2">Improve Employee Experience</h1>
                                </button>

                                <div class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300 ps-16">
                                    <p class="text-default-700 dark:text-default-300">
                                        Before we dive into why companies must invest in employee experience (EX),
                                        it’s
                                        important to understand what this concept entails.
                                    </p>
                                    <div class="mt-7 flex items-center">
                                        <a href="#" class="text-primary flex items-center">
                                            Learn more <i class="iconify fa6-solid--arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="border-b border-default-200 my-6"></div>

                            <!-- 2 -->
                            <div class="hs-accordion">
                                <button class="hs-accordion-toggle pt-2 inline-flex items-center gap-x-4 w-full font-medium text-left text-default-800 transition hover:text-default-500 dark:text-default-200 dark:hover:text-default-400">
                                    <div class="bg-green-500/10 rounded-lg flex items-center justify-center h-12 w-12">
                                        <span class="iconify solar--user-plus-bold-duotone size-6 text-green-500"></span>
                                    </div>
                                    <h1 class="font-medium mb-4 mt-2">Hiring & Onboarding</h1>
                                </button>

                                <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 ps-16">
                                    <p class="text-default-700 dark:text-default-300">
                                        Post your job, interview candidates and make offers, all on Prompt. Start
                                        hiring
                                        today.
                                    </p>
                                    <div class="mt-7 flex items-center">
                                        <a href="#" class="text-primary flex items-center">
                                            Learn more <i class="iconify fa6-solid--arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="border-b border-default-200 my-6"></div>

                            <!-- 3 -->
                            <div class="hs-accordion">
                                <button class="hs-accordion-toggle pt-2 inline-flex items-center gap-x-4 w-full font-medium text-left text-default-800 transition hover:text-default-500 dark:text-default-200 dark:hover:text-default-400">
                                    <div class="bg-orange-500/10 rounded-lg flex items-center justify-center h-12 w-12">
                                        <span class="iconify solar--chart-square-bold-duotone size-6 text-orange-500"></span>
                                    </div>
                                    <h1 class="font-medium mb-4 mt-2">People Data & Analytics</h1>
                                </button>
                                <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 ps-16">
                                    <p class="text-default-700 dark:text-default-300">
                                        Finding committed employees is one of public and private organizations’ top
                                        priorities.
                                    </p>
                                    <div class="mt-7 flex items-center">
                                        <a href="#" class="text-primary flex items-center">
                                            Learn more <i class="iconify fa6-solid--arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="grid lg:grid-cols-2 grid-cols-1n gap-6 items-center">
                    <div class="order-2 lg:order-1 2xl:w-9/12" data-aos="fade-up" data-aos-duration="500">

                        <div class="h-12 w-12 bg-primary/10 flex items-center justify-center rounded-lg">
                            <span class="iconify solar--star-circle-bold-duotone size-7 text-primary"></span>
                        </div>

                        <h1 class="text-3xl/tight font-medium mt-6 mb-4">Smart Payroll. Paying your people couldn't
                            be easier</h1>
                        <p class="text-default-500">You can modify your pages with drag-dropping , can import demos
                            with just ” One Click” and can modify theme setting easy-to-use options panel.</p>
                        <div class="flex items-center mt-12">
                            <a href="#" class="text-primary">Learn more <i class="iconify fa6-solid--arrow-right ms-2"></i>
                            </a>
                        </div>
                    </div>

                    <div class="relative order-1 lg:order-2">
                        <div class="hidden sm:block">
                            <div class="after:w-20 after:h-20 after:absolute after:-top-8 after:-end-8 2xl:after:-end-8 after:bg-[url('assets/images/pattern/dot2.svg')]">
                            </div>
                            <div class="before:w-20 before:h-20 before:absolute before:-bottom-8 before:-start-8 before:bg-[url('assets/images/pattern/dot5.svg')]">
                            </div>
                        </div>

                        <img src="assets/images/hero/saas2.png" alt="saas2" data-aos="fade-left" data-aos-duration="400">
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="xl:py-24 py-16">
        <div class="container" data-aos="fade-up" data-aos-duration="600">

            <div class="text-center">
                <h1 class="text-2xl font-medium">Any many more powerful features</h1>
            </div>

            <div class="py-16">
                <div class="grid xl:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-5">
                    <div class="order-1">
                        <div class="flex flex-col gap-5">
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Hire and Retain Top Talent
                            </p>
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Team Management</p>
                        </div>
                    </div>

                    <div class="order-3 xl:order-2">
                        <div class="flex flex-col gap-5">
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Stay Compliant</p>
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Improve Productivity</p>
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Improve Experience</p>
                        </div>
                    </div>

                    <div class="order-4 xl:order-3">
                        <div class="flex flex-col gap-5">
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Self-service Time Tracking
                            </p>
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Performance Management</p>
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Expert HR</p>
                        </div>
                    </div>

                    <div class="order-2 xl:order-4">
                        <div class="flex flex-col gap-5">
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> New Hire Checklist</p>
                            <p class="flex items-center gap-3 text-base font-semibold"> <i class="iconify fa6-solid--check text-green-500 text-xl"></i> Tax Calculator</p>
                        </div>
                    </div>
                </div>
            </div>

            <button class="flex items-center justify-center mx-auto">
                <a href="#" class="bg-primary flex items-center text-white rounded-lg text-sm font-semibold flex-none hover:shadow-lg  hover:shadow-primary/30 focus:shadow-none focus:outline focus:outline-primary/40 px-6 py-3">Sign
                    Up Now <i class="iconify fa6-solid--arrow-right ms-2"></i> </a>
            </button>

        </div>
    </div>

</section>
<!-- feature Section end -->