<section class="pt-36 pb-24 bg-primary/5">
        <div class="container">
            <div class="grid lg:grid-cols-6 grid-cols-1 justify-between items-center gap-6">
                <div class="lg:col-span-3">
                    <h2 class="md:text-5xl/tight text-3xl font-semibold mb-7">The best way to
                        <span
                            class="relative after:bg-amber-400/60 after:h-6 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">Showcase</span>
                        your Mobile App
                    </h2>
                    <p class="text-default-400 leading-7">To increase sales by skyrocketing communication with All
                        messages in one simple dashboard it now takes seconds.</p>

                    <div class="flex flex-wrap items-center mt-16 gap-6">
                        <a [routerLink]="[]"
                            class="py-3 px-6 rounded text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50">Download</a>
                        <a [routerLink]="[]" class="flex items-center gap-2">
                            <span
                                class="flex items-center justify-center rounded-full w-10 h-10 bg-primary/10 text-primary hover:border hover:border-primary/20 hover:bg-primary/20">
                                <iconify-icon icon="fa6-solid:play"></iconify-icon>
                            </span>
                            <p class="font-medium text-primary hover:text-primary/90">Watch Video</p>
                        </a>
                    </div>
                </div>

                <div class="lg:col-start-5 lg:col-span-2">
                    <div class="relative">
                        <img src="assets/images/hero/app1.png" alt="img">

                        <div class="hidden lg:block">
                            <!-- Swiper -->
                            <div class="absolute max-w-xs bottom-28 -start-72">
                                <div id="swiper_one" class="swiper">
                                    <swiper-container [config]="swiperConfig"  init="false" class="swiper-wrapper">
                                        <swiper-slide class="rlat">
                                            <div class="relative">
                                                <div class="p-4 rounded-md bg-white relative">
                                                    <div class="flex items-center gap-5">
                                                        <img src="assets/images/avatars/img-1.jpg"
                                                            class="w-12 rounded-full">
                                                        <div>
                                                            <h2 class="text-sm text-default-400">Very convenient to use
                                                                project manager!</h2>
                                                            <p class="mt-2">
                                                                <span
                                                                    class="flex gap-1 items-center text-yellow-500 text-base">
                                                                    <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                    <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                    <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                    <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="absolute end-1 bottom-0">
                                                        <iconify-icon icon="fa6-solid:quote-right"
                                                            class="text-2xl text-orange-500/20"></iconify-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </swiper-slide>
                                        <swiper-slide>
                                            <div>
                                                <div class="p-4 rounded-md bg-white">
                                                    <div class="flex items-center gap-5">
                                                        <div>
                                                            <img src="assets/images/avatars/img-2.jpg"
                                                                class="w-14 rounded-full">
                                                        </div>
                                                        <div>
                                                            <h2 class="text-sm text-default-400">Very convenient to use
                                                                project manager!</h2>
                                                            <p class="mt-2">
                                                                <span
                                                                    class="flex gap-1 items-center text-yellow-500 text-base">
                                                                   <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                    <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                    <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                    <iconify-icon icon="fa6-solid:star" width="16" height="16"></iconify-icon>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </swiper-slide>
                                    </swiper-container>
                                </div>
                            </div>
                            <div class="hidden sm:block">
                                <div
                                    class="before:w-24 before:h-24 before:absolute before:-top-3 before:end-2 before:-z-10 before:bg-[url('assets/images/pattern/dot3.svg')]">
                                </div>
                                <div
                                    class="after:w-24 after:h-24 after:absolute after:bottom-10 after:-z-10 after:bg-[url('assets/images/pattern/dot3.svg')]">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>