<section class="py-20">
    <div class="container">
        <div class="text-center">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Latest</span>
            <h1 class="text-3xl font-medium my-3">Featured Work</h1>
            <p class="font-medium text-default-400 mt-5 mb-4">Explore some of our latest website projects</p>
        </div>

        @for (group of projectData; track $index) {
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6" data-aos="fade-up"
            [attr.data-aos-duration]="group.aosDuration">
            @for (item of group.items; track $index) {
            <div class="group relative mt-12 hover:opacity-80">
                <div
                    class="pt-12 ps-12 group-hover:bg-white/10 rounded-md group-hover:shadow-lg transition-all duration-300">
                    <div>
                        <div class="flex items-center justify-between mb-7">
                            <h3 class="text-xl">{{ item.title }}</h3>
                            <p class="font-medium text-default-500 pe-8">
                                {{ item.category }}
                            </p>
                        </div>

                        <div>
                            <img [src]="item.image" class="rounded-md">
                        </div>

                        <div
                            class="absolute inset-0 group-hover:flex items-center justify-center hidden transition-all duration-300">
                            <a [routerLink]="[]" class="inline-block">
                                <div class="flex items-center gap-3 py-[6px] px-3 bg-black rounded-md">
                                    <p class="text-sm font-semibold text-white">View Project</p>
                                    <iconify-icon icon="fa6-solid:arrow-right" class="text-white"></iconify-icon>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-0 group-hover:bg-default-300/20 transition-all duration-300"></div>
            </div>
            }
        </div>
        }

        <div class="flex justify-center mt-14">
            <a [routerLink]="[]"
                class="flex items-center py-3 px-6 rounded border border-black hover:border-black hover:bg-black hover:text-white hover:shadow-lg hover:shadow-black/50 focus:outline focus:outline-black/50 transition-all duration-500">Explore
                All Work <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon></a>
        </div>
    </div>
</section>