<section class="relative" style="background: linear-gradient(rgba(0,85,255,.07) 0,rgba(0,85,255,.05) 100%)">

    <section class="relative pt-36 pb-24">
        <div class="container">
            <div class="grid lg:grid-cols-7 grid-cols-1 gap-16 items-center">

                <div class="lg:col-span-4" data-aos="fade-right">
                    <div class="relative 2xl:-ml-64 lg:-ml-28 2xl:min-w-[130%] lg:w-[113%] w-full">
                        <img src="assets/images/hero/marketing.png" alt="marketing-img">
                    </div>
                </div>

                <div class="lg:col-span-3" data-aos="fade-left">
                    <div class="text-center sm:text-start">
                        <h1 class="text-3xl/snug sm:text-4xl/snug xl:text-5xl/snug font-semibold mb-7">Boost your
                            <span class="relative after:bg-green-500/50 after:-z-10 after:absolute after:h-6 after:w-full after:bottom-0 after:end-0">sales</span>
                            with ease
                        </h1>
                        <p class="text-base/relaxed text-default-500">Explore a fully automated RIO driven digital
                            marketing platform.</p>
                        <div class="flex sm:flex-row flex-col gap-2 mt-10">
                            <input type="email" class="sm:w-[75%] text-sm border-default-300 focus:border-default-200 focus:ring-0 rounded-md bg-white py-3" id="Email" aria-describedby="emailHelp" placeholder="Enter Your Email">
                            <button class="bg-primary text-white rounded-md text-sm font-semibold flex-none shadow-lg shadow-primary/30 focus:shadow-none focus:outline focus:outline-primary/40 px-8 py-3">Start
                                Free Trial</button>
                        </div>
                        <p class="text-default-400 text-xs mt-2">* No Credit Card Required</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="absolute bottom-0 inset-x-0 hidden sm:block">
        <img src="assets/images/shapes/white-wave.svg" alt="white-wave-svg" class="w-full -scale-x-100 -scale-y-100">
    </div>

</section>