<section class="py-8">
        <div class="container">
            <ul class="flex flex-wrap items-center justify-center gap-5">
                <li class="after:content-['-'] after:text-default-300 after:font-extrabold">
                    <a [routerLink]="[]" class="text-default-600 hover:text-blue-600 me-4">About</a>
                </li>
                <li class="after:content-['-'] after:text-default-300 after:font-extrabold">
                    <a [routerLink]="[]" class="text-default-600 hover:text-blue-600 me-4">Services</a>
                </li>
                <li>
                    <a [routerLink]="[]" class="text-default-600 hover:text-blue-600 me-4">Contact</a>
                </li>
            </ul>

            <p class="mt-5 text-center text-default-600">
                {{currentYear}} © Prompt. All rights reserved. Crafted by
                <a [routerLink]="[]" class="hover:text-blue-600">Coderthemes</a>
            </p>
        </div>
    </section>