<section class="bg-orange-300/10 pt-36 pb-20">
        <div class="container">
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
                <h1 class="2xl:text-5xl/snug sm:text-4xl/snug text-3xl">Explore the best coworking space in the heart of
                    the City</h1>
                <p class="2xl:w-2/3 mx-auto text-lg font-medium">No more conventional four-walled office. The fully
                    comformtable seating solution for you.</p>
            </div>

            <div>
                <div class="sm:p-6 p-3 bg-white rounded-xl sm:mx-10 mx-5 translate-y-1/2 relative z-10">
                    <div class="flex flex-wrap items-center justify-between gap-4">
                        <div class="flex flex-wrap items-center gap-4">
                            <h5 class="text-sm">Search your perfect space</h5>
                            <input type="text" id="fname" name="fname" placeholder="Enter location" class="form-input text-sm font-medium focus:ring-0 focus:border-default-500 rounded border-default-400">
                            <a [routerLink]="[]" class="py-2 px-4 rounded text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50 transition-all duration-500">Find
                                Space</a>
                        </div>
                        <div class="flex items-center gap-1">
                            <div class="button-prev">
                                <div class="px-3 py-2 flex items-center justify-center rounded text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50 transition-all duration-500">
                                    <iconify-icon icon="tabler:chevron-left"></iconify-icon>
                                </div>
                            </div>
                            <div class="button-next">
                                <div class="px-3 py-2 flex items-center justify-center rounded text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50 transition-all duration-500">
                                    <iconify-icon icon="tabler:chevron-right"></iconify-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Swiper -->
                <div id="swiper_one" class="swiper rounded-xl" data-aos="fade-up">
                    <swiper-container [config]="swiperConfig" init="false" class="swiper-wrapper">
                        @for(item of sliderData; track $index){
                        <swiper-slide>
                            <div>
                                <img [src]="item" class="w-full h-[520px] rounded-xl">
                            </div>
                        </swiper-slide>
                        }
                    </swiper-container>
                </div>
            </div>
        </div>
    </section>