<section class="py-24 bg-default-500/10 relative" data-aos="fade-up">
    <div class="absolute top-0 inset-x-0 hidden sm:block">
        <img src="assets/images/shapes/white-wave.svg" alt="svg" class="w-full -scale-x-100">
    </div>
    <div class="container relative">
        <div class="text-center">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Stats</span>
            <h1 class="text-3xl font-medium my-3">Prompt In Numbers</h1>
        </div>
        <div class="grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 gap-5 mt-12">
            @for(item of statsData ;track $index){
            <div class="text-center">
                <span class="text-3xl">{{item.value}}</span>
                <p class="font-semibold mt-3">{{item.title}}</p>
                <p class="text-default-800 mt-1">{{item.description}}</p>
            </div>
            }

        </div>
    </div>
</section>