<!-- feature Section Start -->
<section class="py-16 lg:py-32">

    <div class="py-10">
        <div class="container">

            <div class="text-center">
                <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Features</span>
                <h1 class="text-3xl font-medium mt-3 mb-4">Marketing Solutions that works for everyone</h1>
                <p class="text-default-500">Start working with <span class="text-primary"> Prompt</span> to manage
                    your marketing better.</p>
            </div>

            <div class="grid lg:grid-cols-3 lg:gap-6 gap-10 mt-16">
                @for (item of featureData; track $index) {
                <div data-aos="fade-up" [attr.data-aos-duration]="item.duration">
                    <div class="h-12 w-12 rounded-md flex items-center justify-center" [class]="item.className">
                        <iconify-icon [icon]="item.icon" [class]="item.color" height="28" width="28"></iconify-icon>
                    </div>
                    <h1 class="mb-3 mt-4 text-lg">{{ item.title }}</h1>
                    <p class="text-default-500">{{ item.desc }}</p>
                </div>
                }
            </div>

        </div>
    </div>

    <div class="py-16 lg:py-32 overflow-x-hidden" data-aos="fade-up">
        <div class="container">
            <div class="relative">

                <div class="lg:absolute lg:max-w-md lg:translate-y-1/2 z-10 mb-14">
                    <div class="bg-white shadow-lg border border-default-200 rounded-lg p-4 w-full">
                        <div class="relative">
                            <div class="before:w-20 before:h-20 before:absolute before:-bottom-12 before:-start-12 before:-z-10 before:bg-[url('assets/images/pattern/dot2.svg')] hidden sm:block">
                            </div>

                            <span class="h-14 w-14 bg-primary/10 rounded-md flex justify-center items-center">
                                <iconify-icon icon="solar:fire-bold-duotone" height="24" width="24" class="text-primary"></iconify-icon>
                            </span>

                            <h4 class="font-medium text-lg my-2">Smart Campaign Monitoring</h4>
                            <p class="text-default-500">Et harum quidem rerum facilis est et expedita distinctio at
                                libero tempore cum soluta nobis est eligendi optio cumque.</p>
                            <div class="mt-5 flex items-center">
                                <a [routerLink]="[]" class="text-primary text-sm flex items-center">Learn more <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="relative">
                    <img src="assets/images/features/marketing.jpg" class="ms-auto rounded">
                    <div class="after:w-20 after:h-20 after:absolute after:-top-8 after:-end-8 after:-z-10 after:bg-[url('assets/images/pattern/dot5.svg')] hidden sm:block">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="py-10">
        <div class="container">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-10 items-center" data-aos="fade-up">

                <div class="lg:col-span-2">
                    <span class="h-14 w-14 bg-primary/10 rounded-lg flex items-center justify-center">
                        <iconify-icon icon="solar:server-2-bold-duotone" height="24" width="24" class="text-primary"></iconify-icon>
                    </span>

                    <h1 class="text-3xl/tight font-medium mt-5 mb-4">Advanced Features</h1>
                    <p class="text-default-500">Aenean sagittis tellus lacus, nec aliquet mi gravida at. Aenean
                        velit purus, consectetur ut lobortis ac, dignissim id mi.</p>
                    <div class="mt-5 flex items-center">
                        <a [routerLink]="[]" class="text-primary text-sm flex items-center">Learn more <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon></a>
                    </div>
                </div>

                <div class="lg:col-span-1">
                    <div class="bg-white shadow-lg border border-default-200 rounded-lg p-10 lg:w-full md:w-1/2 sm:w-3/4 w-full">
                        <div class="flex flex-col gap-5">

                            <h6 class="flex items-center gap-3 font-medium text-sm">
                                <iconify-icon icon="tabler:circle-check" height="24" width="24" class="text-green-500"></iconify-icon>
                                Unlimited Campaigns
                            </h6>
                            <h6 class="flex items-center gap-3 font-medium text-sm">
                                <iconify-icon icon="tabler:circle-check" height="24" width="24" class="text-green-500"></iconify-icon>
                                Detailed Reporting
                            </h6>
                            <h6 class="flex items-center gap-3 font-medium text-sm">
                                <iconify-icon icon="tabler:circle-check" height="24" width="24" class="text-green-500"></iconify-icon>
                                Auto Schedule Tuning
                            </h6>
                            <h6 class="flex items-center gap-3 font-medium text-sm">
                                <iconify-icon icon="tabler:circle-check" height="24" width="24" class="text-green-500"></iconify-icon>
                                Smart Analytics
                            </h6>
                            <h6 class="flex items-center gap-3 font-medium text-sm">
                                <iconify-icon icon="tabler:circle-check" height="24" width="24" class="text-green-500"></iconify-icon>
                                Notifications
                            </h6>
                            <h6 class="flex items-center gap-4 font-medium text-sm">
                                <iconify-icon icon="fa6-solid:arrow-right" class="text-xl text-green-500"></iconify-icon>
                                <p class="text-sm">And More </p>
                            </h6>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- feature Section end -->




<section class="bg-gradient-to-r from-default-100/70 to-default-100/50 relative py-16 lg:py-32">

    <div class="absolute top-0 inset-x-0 hidden sm:block">
        <img src="assets/images/shapes/white-wave.svg" alt="white-wave-svg" class="w-full -scale-x-100">
    </div>

    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-14 items-center" data-aos="fade-up">

            <div class="order-2 lg:order-1">
                <h1 class="text-3xl/tight font-medium mb-5">Monitor what is being performed anytime</h1>
                <p class="text-default-500">Temporibus autem quibusdam et aut officiis debitis aut rerum
                    necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae
                    itaque earum rerum hic tenetur a sapiente delectus ut aut reiciendis voluptatibus maiores
                    alias...</p>
                <div>
                    <button for="Email" class="flex items-center gap-2 bg-primary text-white rounded-lg text-sm font-semibold flex-none shadow-lg shadow-primary/30 focus:shadow-none focus:outline focus:outline-primary/40  px-8 py-3 mt-8">Start
                        Free Trial <iconify-icon icon="fa6-solid:arrow-right"></iconify-icon></button>
                </div>
            </div>

            <div class="order-1 lg:order-2">
                <img src="assets/images/features/marketing4.jpg" alt="marketing4" class="shadow">
            </div>

        </div>
    </div>
</section>