<section class="py-20">
  <div class="container">
    <div class="text-center">
      <h1 class="text-3xl font-medium">What We Do</h1>
      <p class="font-medium text-default-500 mt-5 mb-4">
        We are helping businesses to develop their web applications
      </p>
    </div>

    <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 pt-12 gap-4">
      @for (item of serviceData; track $index) {
        <div
          class="p-6 hover:bg-white rounded-md hover:shadow-xl transition-all duration-500"
          data-aos="fade-up"
          [attr.data-aos-duration]="item.aosDuration"
        >
          <div
            class="w-12 h-12 rounded-md flex items-center justify-center"
            [class]="item.bg + ' w-12 h-12 rounded-md flex items-center justify-center'"
          >
            <iconify-icon [icon]="item.icon" width="28" height="28" [class]="item.iconColor">
            </iconify-icon>
          </div>

          <h4 class="text-base font-medium my-5">
            {{ item.title }}
          </h4>

          <p class="text-default-400">
            {{ item.description }}
          </p>
        </div>
      }
    </div>
  </div>
</section>
