<!-- testimonial Section Start -->
<section class="bg-default-100 relative py-20 overflow-x-hidden">

    <div class="absolute top-0 inset-x-0 hidden sm:block">
        <img src="assets/images/shapes/white-wave.svg" alt="svg" class="w-full -scale-x-100">
    </div>

    <div class="container relative" data-aos="fade-up" data-aos-duration="600">

        <div class="relative z-20">
            <div class="flex items-center justify-between pb-14">
                <div>
                    <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Testimonials</span>
                    <h2 class="md:text-3xl text-xl font-semibold my-5">What people say</h2>
                </div>
                <div class="flex items-center gap-5">
                    <div class="button-prev"><iconify-icon icon="fa6-solid:arrow-left"></iconify-icon></div>
                    <div class="button-next "> <iconify-icon icon="fa6-solid:arrow-right"></iconify-icon></div>
                </div>
            </div>

            <div class="relative">

                <div class="hidden sm:block">
                    <div class="before:w-24 before:h-24 before:absolute before:-top-10 before:-end-10 before:bg-[url('assets/images/pattern/dot3.svg')]">
                    </div>
                    <div class="after:w-24 after:h-24 after:absolute after:-bottom-10 after:-start-10 after:bg-[url('assets/images/pattern/dot3.svg')]">
                    </div>
                </div>

                <div id="swiper_two" class="swiper">
                    <swiper-container [config]="swiperConfig" init="false" class="swiper-wrapper">
                        <swiper-slide>
                            <div class="p-10 bg-white">
                                <p class="text-default-800">Have been working with CSS for over ten years and
                                    Tailwind just makes my life easier. It is still CSS and you use flex, grid, etc.
                                    but just quicker to write and maintain.</p>
                                <div class="flex items-center justify-between mt-5">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <img src="assets/images/avatars/img-1.jpg" class="w-10 rounded-full">
                                        </div>
                                        <div>
                                            <h6>John Stark</h6>
                                            <p class="text-sm text-default-500">Engineering Director</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="flex gap-1 items-center text-yellow-500 text-base">
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </swiper-slide>

                        <swiper-slide>
                            <div class="p-10 bg-white">
                                <p class="text-default-800">I was bad at front-end until I discovered with Tailwind
                                    CSS. I have learnt a lot more about design and CSS itself after I started
                                    working with Tailwind. Creating web pages is 5x faster now.</p>
                                <div class="flex items-center justify-between mt-5">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <img src="assets/images/avatars/img-2.jpg" class="w-10 rounded-full">
                                        </div>
                                        <div>
                                            <h6>Cersei Lannister</h6>
                                            <p class="text-sm text-default-500">Senior Project Manager</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="flex gap-1 items-center text-yellow-500 text-base">
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </swiper-slide>

                        <swiper-slide>
                            <div class="p-10 bg-white">
                                <p class="text-default-800">Have been working with CSS for over ten years and
                                    Tailwind just makes my life easier. It is still CSS and you use flex, grid, etc.
                                    but just quicker to write and maintain.</p>
                                <div class="flex items-center justify-between mt-5">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <img src="assets/images/avatars/img-1.jpg" class="w-10 rounded-full">
                                        </div>
                                        <div>
                                            <h6>John Stark</h6>
                                            <p class="text-sm text-default-500">Engineering Director</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="flex gap-1 items-center text-yellow-500 text-base">
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </swiper-slide>

                        <swiper-slide>
                            <div class="p-10 bg-white">
                                <p class="text-default-800">I was bad at front-end until I discovered with Tailwind
                                    CSS. I have learnt a lot more about design and CSS itself after I started
                                    working with Tailwind. Creating web pages is 5x faster now.</p>
                                <div class="flex items-center justify-between mt-5">
                                    <div class="flex items-center gap-3">
                                        <div>
                                            <img src="assets/images/avatars/img-2.jpg" class="w-10 rounded-full">
                                        </div>
                                        <div>
                                            <h6>Cersei Lannister</h6>
                                            <p class="text-sm text-default-500">Senior Project Manager</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="flex gap-1 items-center text-yellow-500 text-base">
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                            <iconify-icon icon="fa6-solid:star" height="16" width="16"></iconify-icon>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </swiper-slide>
                    </swiper-container>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- testimonial Section end -->