<!-- pricing Section Start -->
<section class="bg-gradient-to-r from-default-100/70 to-default-100/50 relative py-16 sm:py-24">

    <div class="absolute top-0 inset-x-0 hidden sm:block">
        <img src="assets/images/shapes/white-wave.svg" alt="svg" class="w-full -scale-x-100">
    </div>

    <div class="py-5">
        <div class="container relative">

            <div class="text-center">
                <span class="text-xs bg-primary/10 text-primary/90 rounded-full px-2 py-1">Plans</span>
                <h1 class="text-3xl/tight font-medium mb-4 mt-5">Pricing</h1>
                <p class="text-default-500">Pricing that <span class="text-primary">works </span> for everyone</p>
            </div>

            <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-7 mt-14">
                <!-- 1 -->
                <div data-aos="fade-up" data-aos-duration="500">
                    <div class="transition-all duration-300 pointer-events-auto hover:shadow-[0_0_1.5rem_0_rgba(0,0,0,.12)] hover:-translate-y-1">
                        <div class="border border-default-300 bg-white rounded w-full h-full text-center p-5">
                            <span class="text-lg text-primary">Starter</span>
                            <h1 class="text-3xl/tight font-semibold mt-3"><sup class="text-default-500 text-sm font-normal">$</sup> 49 <sub class="text-default-500 text-sm font-normal">/month</sub></h1>
                            <div class="border-b border-default-200 w-full my-7"></div>
                            <div>
                                <div class="flex flex-col gap-4">
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Up to 600 minutes
                                        usage time</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Use for personal
                                        only</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Add up to 10
                                        attendees</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Technical support
                                        via email</p>
                                </div>
                                <div class="flex mt-[120px]">
                                    <a href="#" class="bg-primary/10 text-primary/90 w-full py-3 rounded-lg border border-transparent hover:border hover:border-primary/20 transition-all duration-300">Purchase
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 2 -->
                <div data-aos="fade-up" data-aos-duration="700">
                    <div class="transition-all duration-300 pointer-events-auto hover:shadow-[0_0_1.5rem_0_rgba(0,0,0,.12)] hover:-translate-y-1">
                        <div class="border border-default-300 bg-white rounded w-full h-full text-center p-5">
                            <span class="text-lg text-primary">Professional</span>
                            <h1 class="text-3xl/tight font-semibold mt-3"><sup class="text-default-500 text-sm font-normal">$</sup> 99 <sub class="text-default-500 text-sm font-normal">/month</sub></h1>
                            <div class="border-b border-default-200 w-full my-7"></div>
                            <div>
                                <div class="flex flex-col gap-4">
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Up to 6000 minutes
                                        usage time</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Use for personal or
                                        a commercial</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Add up to 100
                                        attendees</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Up to 5 teams</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Technical support
                                        via email</p>
                                </div>
                                <div class="flex mt-20">
                                    <a href="#" class="bg-primary text-white w-full py-3 rounded-lg border border-transparent hover:shadow-lg hover:shadow-primary/30 hover:border hover:border-primary focus:outline focus:outline-primary/50 transition-all duration-300">Purchase
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 3 -->
                <div data-aos="fade-up" data-aos-duration="900">
                    <div class="transition-all duration-300 pointer-events-auto hover:shadow-[0_0_1.5rem_0_rgba(0,0,0,.12)] hover:-translate-y-1">
                        <div class="border border-default-300 bg-white rounded w-full h-full text-center p-5">
                            <span class="text-lg text-primary">Enterprise</span>
                            <h1 class="text-3xl/tight font-semibold mt-3"><sup class="text-default-500 text-sm font-normal">$</sup> 599 <sub class="text-default-500 text-sm font-normal">/month</sub></h1>
                            <div class="border-b border-default-200 w-full my-7"></div>
                            <div>
                                <div class="flex flex-col gap-4">
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Unlimited usage
                                        time</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Use for personal or
                                        a commercial</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Add Unlimited
                                        attendees</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>24x7 Technical
                                        support via phone</p>
                                    <p class="flex items-center text-default-600 gap-4"><i class="iconify fa6-solid--check text-green-500 text-lg"></i>Technical support
                                        via email</p>
                                </div>
                                <div class="flex mt-20">
                                    <a href="#" class="bg-primary/10 text-primary/90 w-full py-3 rounded-lg border border-transparent hover:border hover:border-primary/20 transition-all duration-300">Purchase
                                        Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="absolute bottom-0 inset-x-0 hidden sm:block">
        <img src="assets/images/shapes/white-wave.svg" alt="svg" class="w-full scale-x-100 -scale-y-100">
    </div>

</section>
<!-- pricing Section end -->