<section class="py-24" data-aos="fade-up">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 items-center gap-6">
            <div class="lg:me-20">
                <div class="w-12 h-12 bg-primary/10 flex items-center justify-center rounded-md">
                    <iconify-icon icon="solar:code-line-duotone" class="text-primary" height="28" width="28"></iconify-icon>
                </div>

                <h1 class="sm:text-3xl text-xl font-medium my-3">Easy to Integrate - SDK</h1>

                <p class="text-default-500 mt-5 mb-4">Maecenas blandit aliquam sem, auctor accumsan mauris finibus
                    pellentesque. In vestibulum ac nunc ut rutrum. Donec mollis viverra magna vel tincidunt.</p>

                <p class="text-default-500 mt-5 mb-4">Ut faucibus libero non tortor commodo, ac faucibus lectus
                    fermentum. Sed sit amet ornare turpis, ac lobortis urna.</p>

                <div class="flex flex-wrap items-center gap-5 mt-12">
                    <a [routerLink]="[]" class="py-3 px-6 rounded border border-primary text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50 transition-all duration-500">
                        Explore the SDK
                    </a>

                    <a [routerLink]="[]" class="py-3 px-6 rounded border-primary/5 text-primary bg-primary/5 hover:border-primary hover:bg-primary/10 hover:shadow hover:shadow-primary transition-all duration-500">
                        Documentation
                    </a>
                </div>
            </div>

            <div>
                <img src="assets/images/other/code.jpg" class="lg:mx-auto">
            </div>
        </div>
    </div>
</section>