   <section class="lg:py-24 py-16">
        <div class="container" data-aos="fade-up">
            <div class="grid lg:grid-cols-2 gap-14">

                <div class="order-2 lg:order-1">
                    <h1 class="text-3xl mb-7">Build amazing things together</h1>
                    <p class="text-sm/relaxed tracking-wider text-default-600 mb-5">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                        totam rem aperiam beatae vitae dicta sunt explicabo.
                    </p>
                    <p class="text-sm/relaxed tracking-wider text-default-600 mb-7">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
                        totam rem aperiam beatae vitae dicta sunt explicabo.
                    </p>

                    <div class="flex items-center">
                        <a [routerLink]="[]" class="text-primary flex items-center">Learn more <iconify-icon
                                icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon></a>
                    </div>
                </div>

                <div class="order-1 lg:order-2">
                    <img src="assets/images/photos/14.jpg" alt="photo-3">
                </div>

            </div>
        </div>
    </section>