    <section class="py-14">
        <div class="container">
            <div class="grid md:grid-cols-3 grid-cols-1 gap-5 items-center py-7 border-y border-default-200">
                <div>
                    <div>
                        <div class="flex items-center justify-start">
                            <div class="hs-tooltip inline-block">
                                <button type="button" class="hs-tooltip-toggle border border-default-300 rounded-md text-sm tracking-wider transition-all duration-300 hover:shadow-lg py-2 px-5">
                                    <iconify-icon icon="fa6-solid:arrow-left" class="me-2"></iconify-icon>
                                    Awesome Saas App

                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible bg-white shadow-lg rounded-md z-50 p-4 w-72" role="tooltip">
                                        <div class="flex items-center gap-5">
                                            <img src="assets/images/blog/blog-1.png" class="w-16 rounded">
                                            <div>
                                                <h6 class="text-sm">Introducing new blazzing fast user interface</h6>
                                                <p class="text-sm text-default-500">by Emily Blunt</p>
                                            </div>
                                        </div>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex md:justify-center">
                    <a [routerLink]="[]" class="border border-default-300 rounded-md text-sm tracking-wider transition-all duration-300 hover:shadow-lg py-2 px-5">View
                        All</a>
                </div>
                <div>
                    <div class="flex items-center md:justify-end justify-start">
                        <div class="hs-tooltip overflow-hidden">
                            <button class="hs-tooltip-toggle border border-default-300 rounded-md text-sm tracking-wider transition-all duration-300 hover:shadow-lg py-2 px-5">
                                Desktop App<iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon>

                                <div class="hs-tooltip-content bg-white shadow-lg hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible rounded-md transition-all opacity-0 invisible z-50 p-4 w-72" role="tooltip">
                                    <div class="flex items-center gap-5">
                                        <img src="assets/images/blog/blog-2.png" class="w-16 rounded">
                                        <div>
                                            <h6 class="text-sm">What you should know before...</h6>
                                            <p class="text-sm text-default-500">by Emily Blunt</p>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>