<section class="pt-36 pb-24 bg-default-100">
        <div class="container">
            <div class="text-center max-w-2xl mx-auto">
                <h2 class="md:text-5xl/tight text-3xl font-semibold mb-6">How can we help?</h2>
                <p class="lg:text-lg text-default-500 leading-7">Explore our knowledge badge to learn more about all the
                    functionality Prompt is offering. If you don't find what you are looking, feel free to contact our
                    support team.</p>

                <form class="w-full mt-12">
                    <div class="relative flex justify-between items-center border border-default-200 bg-white rounded-md">
                        <input class="w-full text-sm text-default-700 border-0 rounded py-3 px-4 leading-tight focus:ring-0 focus:outline-none" id="grid-first-name" type="text" placeholder="Ask a question...">
                        <iconify-icon icon="tabler:search" width="20" height="20" class="me-4"></iconify-icon>
                    </div>
                </form>

                <div class="mt-2">
                    <p class="text-default-500"> <span class="uppercase">Recent searches:</span> How to prepare upload
                        documents, Linking Payment Account</p>
                </div>
            </div>
        </div>
    </section>