<!-- demos Section Start -->
<section class="lg:py-20 py-10" id="demo">
    <div class="container">
        <div class="text-center">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Demos</span>
            <h1 class="text-4xl my-4">Landing Pages</h1>
            <p class="text-default-500 mb-14">Modern landing pages available for every need</p>
        </div>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-6" data-aos="fade-up" data-duration="600">
            <a href="home-app.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-app.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Mobile App</h4>
            </a>

            <a href="home-saas.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-saas.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Saas Modern</h4>
            </a>

            <a href="home-saas2.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-saas2.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Saas Classic</h4>
            </a>

            <a href="home-startup.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-startup.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Startup</h4>
            </a>

            <a href="home-software.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-software.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Software</h4>
            </a>

            <a href="home-agency.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-agency.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Agency</h4>
            </a>

            <a href="home-coworking.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-coworking.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Co-Working</h4>
            </a>

            <a href="home-crypto.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-crypto.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Crypto</h4>
            </a>

            <a href="home-marketing.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-marketing.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Marketing</h4>
            </a>

            <a href="home-portfolio.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/home-portfolio.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Portfolio</h4>
            </a>
        </div>
    </div>
</section>
<!-- demos Section End -->

<!-- demos Section Start -->
<section class="lg:py-20 py-10" id="admindemo">
    <div class="container">
        <div class="text-center">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">New</span>
            <h1 class="text-4xl my-4">Admin Pages</h1>
            <p class="text-default-500 mb-14">Modern landing pages available for every need</p>
        </div>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-6" data-aos="fade-up" data-duration="600">
            <a href="account-dashboard.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/dashboard.png">
                </div>
                <h4 class="text-base text-center mt-4">Dashboard</h4>
            </a>

            <a href="account-settings.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/account.png">
                </div>
                <h4 class="text-base text-center mt-4">Account Settings</h4>
            </a>
        </div>
    </div>
</section>
<!-- demos Section End -->

<!-- showcase Section Start -->
<section class="lg:py-20 py-10">
    <div class="container">
        <div class="text-center" data-aos="fade-up">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Inner Pages</span>
            <h1 class="text-4xl mt-4 mb-14">Inner Pages</h1>
        </div>
        <div class="grid md:grid-cols-2 grid-cols-1 gap-6" data-aos="fade-up" data-duration="600">
            <a href="company.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/company.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Company</h4>
            </a>

            <a href="contact.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/contact.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Contact</h4>
            </a>

            <a href="career.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/career.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Career</h4>
            </a>

            <a href="blog.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/blog.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Blog</h4>
            </a>

            <a href="blog-post.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/blog-post.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Blog Post</h4>
            </a>

            <a href="portfolio-grid.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/portfolio-grid.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Portfolio Grid</h4>
            </a>

            <a href="portfolio-masonry.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/portfolio-masonry.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Portfolio Masonry</h4>
            </a>

            <a href="portfolio-item.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/portfolio-item.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Portfolio Item</h4>
            </a>

            <a href="pricing.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/pricing.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Pricing</h4>
            </a>

            <a href="help.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/help.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Help</h4>
            </a>
        </div>
    </div>
</section>
<!-- showcase Section End -->

<!-- Auth pages Section Start -->
<section class="lg:py-20 py-10">
    <div class="container">
        <div class="text-center" data-aos="fade-up">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Account Pages</span>
            <h1 class="text-4xl mt-4 mb-14">Auth Pages</h1>
        </div>

        <div class="grid md:grid-cols-2 grid-cols-1 gap-6" data-aos="fade-up" data-duration="600">
            <a href="account-login.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/auth-login.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Login</h4>
            </a>

            <a href="account-signup.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/auth-signup.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Signup</h4>
            </a>

            <a href="account-forget-password.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/auth-password.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Forget Password</h4>
            </a>

            <a href="account-confirm.html" target="_blank">
                <div class="border border-default-200 p-2 rounded">
                    <img src="assets/images/demo/auth-confirm.jpg">
                </div>
                <h4 class="text-base text-center mt-4">Confirm Account</h4>
            </a>
        </div>
    </div>
</section>
<!-- Auth pages Section End -->