<section class="py-20">
  <div class="container">
    <div class="text-center max-w-2xl mx-auto">
      <h2 class="md:text-3xl/tight text-3xl font-semibold my-4">Still have a question?</h2>
      <p class="md:text-lg text-default-500 leading-7">Explore your most suitable option below</p>
    </div>

    <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 mt-16">
      @for (item of supportData; track $index) {
        <div class="border border-default-200 rounded p-6">
          <h3 class="text-xl">{{ item.title }}</h3>

          <p class="text-default-700 mt-3">
            {{ item.description }}
          </p>

          <div class="mt-12 mb-3">
            <a
              [routerLink]="[]"
              class="py-3 px-6 rounded border border-primary text-primary hover:text-white hover:bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50 transition-all duration-500"
            >
              {{ item.buttonText }}
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</section>
