<section>
        <div class="container">
            <div class="border-t border-default-200 mb-5"></div>

            <div class="grid md:grid-cols-4 grid-cols-1 items-center">

                <div>
                    <div class="flex items-center justify-start">
                        <div class="hs-tooltip overflow-hidden">
                            <button class="hs-tooltip-toggle border border-default-300 rounded-md text-sm tracking-wider transition-all duration-500 hover:shadow-lg py-2 px-5">
                                <iconify-icon icon="fa6-solid:arrow-left" class="me-2"></iconify-icon> Prev Post

                                <div class="hs-tooltip-content bg-white shadow-lg hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible rounded-md transition-all opacity-0 invisible z-50 p-4 w-72" role="tooltip">
                                    <div class="flex items-center gap-5">
                                        <img src="assets/images/blog/blog-3.png" class="w-16 rounded">
                                        <div>
                                            <h6 class="text-sm">Introducing new blazzing fast user interface</h6>
                                            <p class="text-sm text-default-500">by Emily Blunt</p>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-span-2">
                    <div class="my-5 md:my-0">
                        <div class="flex md:justify-center justify-start items-center gap-4">
                            <img src="assets/images/avatars/img-2.jpg" class="h-12 w-12 rounded-full">
                            <div>
                                <h6 class="text-sm transition-all hover:text-primary"><a [routerLink]="[]">Emily Blunt</a></h6>
                                <p class="text-sm text-default-500">I write about the latest trend in web design and
                                    development.</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="flex items-center md:justify-end justify-start">
                    <div class="hs-tooltip overflow-hidden">
                        <button class="hs-tooltip-toggle border border-default-300 rounded-md text-sm tracking-wider transition-all duration-500 hover:shadow-lg py-2 px-5">
                            Prev Post <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon>

                            <div class="hs-tooltip-content bg-white shadow-lg hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible rounded-md transition-all opacity-0 invisible z-50 p-4 w-72" role="tooltip">
                                <div class="flex items-center gap-5">
                                    <img src="assets/images/blog/blog-2.png" class="w-16 rounded">
                                    <div>
                                        <h6 class="text-sm">What you should know before...</h6>
                                        <p class="text-sm text-default-500">by Emily Blunt</p>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>

            </div>

            <div class="border-b border-default-200 mt-5"></div>

        </div>
    </section>