 <section class="pt-36 pb-24 bg-default-100">
        <div class="container">
            <div class="text-center max-w-2xl mx-auto">
                <h2 class="md:text-5xl/tight text-3xl font-semibold mb-5">Flexible plans that grow with you</h2>
                <p class="md:text-lg text-default-500 leading-7">Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                    aut odit aut fugit sed consequuntur ratione voluptatem sequi nesciunt.</p>
            </div>
        </div>
    </section>