<div class="bg-white rounded">
    <div class="p-6">
        <!-- action start -->
        <div class="flex items-center">
            <div class="grow">
                <p class="text-default-400 text-sm font-medium">{{ item.date }}</p>
            </div>
            <div class="shrink text-end">
                <div class="hs-dropdown relative [--placement:bottom-right] inline-flex">
                    <button type="button" class="hs-dropdown-toggle text-default-800" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                        <iconify-icon icon="tabler:dots" height="24" width="24"></iconify-icon>
                    </button>

                    <div class="hs-dropdown-menu transition-[opacity,margin] z-10 duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 mt-2 bg-white shadow-md border border-default-200 rounded" role="menu" aria-orientation="vertical">
                        <div class="p-1 space-y-1">
                            <a class="flex items-center py-1.5 px-3 text-base text-default-500 hover:bg-default-100 hover:text-default-700 rounded" [routerLink]="[]">
                                <iconify-icon icon="tabler:edit" class="size-4 me-2.5"></iconify-icon>
                                <span class="">Share</span>
                            </a>
                            <a class="flex items-center py-1.5 px-3 text-base text-default-500 hover:bg-default-100 hover:text-default-700 rounded" [routerLink]="[]">
                                <iconify-icon icon="tabler:refresh" class="size-4 me-2.5"></iconify-icon>
                                <span class="">Refresh</span>
                            </a>

                            <hr class="my-2 -mx-1 border-default-200">

                            <a class="flex items-center py-1.5 px-3 text-base text-red-500 hover:bg-default-100 rounded" [routerLink]="[]">
                                <iconify-icon icon="tabler:trash" class="size-4 me-2.5"></iconify-icon>
                                <span class="">Deactivate</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- action end -->

        <div class="mt-3">
            <h4 class="mt-0 mb-1">
                <a class="text-lg text-default-600 hover:text-primary" [routerLink]="[]"> {{ item.title }}</a>
            </h4>
            <span class="inline-flex items-center gap-1.5 py-1 px-2 rounded-md text-xs font-semibold" [class]="item.categoryClass"> {{ item.category }}</span>


            <p class="text-default-400 text-sm my-4">{{ item.description }}
            </p>
        </div>

        <!-- progress -->
        <div class="mt-4">
            <div class="flex mb-3">
                <div class="grow">
                    <h6 class="mt-0">Progress</h6>
                </div>
                <div class="shrink text-end">
                    <small class="fw-semibold">{{ item.progress }}%</small>
                </div>
            </div>
            <div class="flex w-full h-1.5 bg-default-200 rounded-full overflow-hidden dark:bg-default-700 ">
                <div class="flex flex-col justify-center overflow-hidden" [class]="item.progressColor" role="progressbar" [style.width.%]="item.progress" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <!-- progress end -->

        <!-- assignment start -->
        <div class="flex -space-x-2 mt-3">
            @for (img of item.members; track $index) {
            <img class="inline-block h-8 w-8 rounded-full border-2 border-white dark:border-default-800" [src]="img" alt="Image Description">
            }
        </div>
        <!-- assignment end -->
    </div>
</div>