<!-- pricing Section Start -->
<section class="py-16 sm:py-24">
    <div class="container">

        <div class="text-center">
            <h1 class="text-3xl/tight font-medium mb-4">Pricing</h1>
            <p class="text-default-500">Pricing that <span class="text-primary">works </span> for everyone</p>
        </div>

        <div class="grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-7 mt-14">
            <!-- 1 -->
            @for (plan of pricingData; track $index) {
            <div data-aos="fade-up" [attr.data-aos-duration]="plan.aosDuration">
                <div class="transition-all duration-300 pointer-events-auto hover:shadow-[0_0_1.5rem_0_rgba(0,0,0,.12)] hover:-translate-y-1">
                    <div class="border border-default-600/30 bg-white rounded w-full h-full text-center p-5">
                        <span class="text-lg text-primary">{{ plan.title }}</span>
                        <h1 class="text-3xl/tight font-semibold mt-3"><sup class="text-default-500 text-sm font-normal">$</sup> {{ plan.price }}<sub class="text-default-500 text-sm font-normal"> /month</sub></h1>
                        <div class="border-b border-default-200 w-full my-7"></div>
                        <div>
                            <div class="flex flex-col gap-4">
                                @for (feature of plan.features; track $index) {
                                <p class="flex items-center text-default-600 gap-4"><iconify-icon icon="fa6-solid:check" class="text-green-500 text-lg"></iconify-icon>{{feature}}</p>
                                }
                            </div>
                            <div class="flex" [class]="plan.marginTop">
                                <a [routerLink]="[]" class="w-full py-3 rounded-lg border transition-all duration-300" [class]="plan.buttonClass">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</section>
<!-- pricing Section end -->