<!-- Hero Section Start -->
<div class="pt-36 sm:pb-96 pb-80 relative bg-gradient-to-t from-default-500/10">
    <div class="container">
        <div class="text-center lg:w-11/12 mx-auto">
            <div>
                <h1 class="text-3xl/tight sm:text-4xl/tight lg:text-5xl/tight font-semibold mb-5">
                    The best way to
                    <span class="relative z-0 after:bg-green-500/50 after:-z-10 after:absolute md:after:h-6 after:h-4 after:w-full after:bottom-0 after:end-0">showcase</span>
                    your saas
                </h1>
                <p class="sm:text-lg text-default-500">Make your saas application stand out with high-quality
                    landing page designed and developed by professional</p>
                <div class="flex flex-wrap items-center justify-center gap-2 mt-12">
                    <div class="flex items-center">
                        <input type="text" id="email-input" name="email-input" placeholder="Your Name" class="w-full rounded border-default-300 focus:border-default-400 focus:ring-0 bg-white py-2 px-4">
                    </div>
                    <div class="flex items-center">
                        <input type="text" id="email-input" name="email-input" placeholder="Your Email" class="w-full rounded border-default-300 focus:border-default-400 focus:ring-0 bg-white py-2 px-4">
                    </div>
                    <a [routerLink]="[]" class="py-2 px-4 rounded text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50">Sign
                        Up</a>
                </div>

                <div class="flex flex-wrap justify-center items-center gap-5 mt-5">
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="tabler:circle-check" height=20 width="20" class="text-green-500"></iconify-icon>

                        <p class="text-sm text-default-700">Free 14-day Demo</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="tabler:circle-check" height=20 width="20" class="text-green-500"></iconify-icon>
                        <p class="text-sm text-default-700">No credit card needed</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="tabler:circle-check" height=20 width="20" class="text-green-500"></iconify-icon>
                        <p class="text-sm text-default-700">Free 14-day Demo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="relative sm:-mt-80 -mt-64">
        <div class="hidden sm:block">
            <div class="after:w-24 after:h-24 after:absolute after:-top-10 after:end-10 after:bg-[url('assets/images/pattern/dot5.svg')]">
            </div>
            <div class="before:w-24 before:h-24 before:absolute before:-bottom-10 before:start-10 before:bg-[url('assets/images/pattern/dot2.svg')]">
            </div>
        </div>

        <div id="swiper_one" class="swiper border-[10px] border-white bg-white shadow-lg rounded-md w-5/6" data-aos="fade-up" data-aos-duration="2000">
            <swiper-container [config]="swiperConfig" init="false">
                @for(item of swiperData;track $index){
                <swiper-slide>
                    <div class="absolute inset-0 flex items-center justify-center">
                        <a [routerLink]="[]" class="sm:h-14 h-10 sm:w-14 w-10 rounded-full bg-green-500 flex items-center justify-center">
                            <iconify-icon icon="tabler:player-play-filled" height=20 width="20" class="text-white"></iconify-icon>
                        </a>
                    </div>
                    <img [src]="item.image" [alt]="item.alt" class="rounded-md">
                </swiper-slide>
                }
            </swiper-container>
        </div>
    </div>
</div>
<!-- Hero Section End -->