<div class="bg-default-100 mt-[77px]  py-3 px-3">
    <section class="relative overflow-hidden">
        <div class="container">
            <div class="flex">
                <div class="w-full">
                    <h3 class="text-xl text-default-800 mt-2">Hi Greeva</h3>
                    <p class="mt-1 font-medium mb-4">Welcome to Prompt!</p>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-6 mt-2">
                <!-- profile widget star -->
                <div class="lg:col-span-5 col-span-12">
                    <div class="bg-white rounded">
                        <div class="p-6">
                            <div class="flex">
                                <div class="grow">
                                    <div class="flex">
                                        <img src="assets/images/avatars/img-8.jpg" class="img-fluid w-12 h-12 rounded me-3" alt="...">
                                        <div class="grow">
                                            <h4 class="tetx-lg text-default-800 mb-1 mt-0 font-semibold">Ms. Greeva
                                                Navadiya</h4>
                                            <p class="text-default-400 pb-0 text-sm mb-4 font-medium">Web &amp;
                                                Graphic Designer</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="shrink text-end">
                                    <div class="hs-dropdown relative [--placement:bottom-right] inline-flex">
                                        <button type="button" class="hs-dropdown-toggle text-default-800" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                                            <iconify-icon icon="tabler:dots" height="24" width="24"></iconify-icon>
                                        </button>

                                        <div class="hs-dropdown-menu transition-[opacity,margin] z-10 duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 mt-2 bg-white shadow-md border border-default-200 rounded" role="menu" aria-orientation="vertical">
                                            <div class="p-1 space-y-1">
                                                <a class="flex items-center py-1.5 px-3 text-base text-default-500 hover:bg-default-100 hover:text-default-700 rounded" [routerLink]="[]">
                                                    <iconify-icon icon="tabler:edit" class="size-4 me-2.5"></iconify-icon>
                                                    <span class="">Share</span>
                                                </a>
                                                <a class="flex items-center py-1.5 px-3 text-base text-default-500 hover:bg-default-100 hover:text-default-700 rounded" [routerLink]="[]">
                                                    <iconify-icon icon="tabler:refresh" class="size-4 me-2.5"></iconify-icon>
                                                    <span class="">Refresh</span>
                                                </a>

                                                <hr class="my-2 -mx-1 border-default-200">

                                                <a class="flex items-center py-1.5 px-3 text-base text-red-500 hover:bg-default-100 rounded" [routerLink]="[]">
                                                    <iconify-icon icon="tabler:trash" class="size-4 me-2.5"></iconify-icon>
                                                    <span class="">Deactivate</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex gap-4 mb-2 flex-wrap py-4 border-b border-default-200">
                                <a [routerLink]="[]" class="flex gap-0.5 text-default-400 text-sm">
                                    <iconify-icon icon="tabler:mail" height="20" width="20" class="me-2"></iconify-icon>
                                    greeva@coderthemes.com
                                </a>
                                <a [routerLink]="[]" class="flex gap-0.5 text-default-400 text-sm">
                                    <iconify-icon icon="tabler:phone" height="20" width="20" class="me-2"></iconify-icon>
                                    +00 123-456-789
                                </a>
                            </div>

                            <div class="flex items-center gap-6 mt-4">
                                <div class="md:w-1/2 w-full">
                                    <div class="flex justify-between mb-3">
                                        <h6 class="fw-medium my-0">Project Completion</h6>
                                        <p class="float-end mb-0">85%</p>
                                    </div>
                                    <div class="flex w-full h-1.5 bg-default-200 rounded-full overflow-hidden dark:bg-default-700 ">
                                        <div class="flex flex-col justify-center overflow-hidden bg-primary" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="md:w-1/2 w-full">
                                    <div class="flex justify-between mb-3">
                                        <h6 class="fw-medium my-0">Overall Rating</h6>
                                        <p class="float-end mb-0">7.5</p>
                                    </div>
                                    <div class="flex w-full h-1.5 bg-default-200 rounded-full overflow-hidden dark:bg-default-700 ">
                                        <div class="flex flex-col justify-center overflow-hidden bg-orange-500" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- profile widget end -->

                <div class="lg:col-span-3 col-span-12 space-y-6">
                    <div class="bg-white">
                        <div class="flex items-center p-6">
                            <div class="">
                                <div class="inline-flex items-center justify-center h-12 w-12 bg-green-500/10 rounded me-3">
                                    <iconify-icon icon="tabler:square-rounded-check" height="24" width="24" class="text-green-500"></iconify-icon>
                                </div>
                            </div>

                            <div class="flex-grow-1">
                                <h3 class="text-xl text-default-800">21</h3>
                                <p class="text-muted mb-0">Tasks Completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="flex items-center p-6">
                            <div class="">
                                <div class="inline-flex items-center justify-center h-12 w-12 bg-sky-500/10 rounded me-3">
                                    <iconify-icon icon="tabler:edit" height="24" width="24" class="text-sky-500"></iconify-icon>
                                </div>
                            </div>

                            <div class="grow">
                                <h3 class="text-xl text-default-800">21</h3>
                                <p class="text-muted mb-0">Tasks Completed</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:col-span-4 col-span-12">
                    <div class="bg-white">
                        <div class="p-6">
                            <div class="flex justify-between">
                                <div class="grow">
                                    <h4 class="text-base font-semibold text-default-800">Revenue</h4>
                                </div>
                                <div class="shrink text-end">
                                    <div class="hs-dropdown relative [--placement:bottom-right] inline-flex">
                                        <button type="button" class="hs-dropdown-toggle text-default-800" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                                            <iconify-icon icon="tabler:dots" height="24" width="24"></iconify-icon>
                                        </button>

                                        <div class="hs-dropdown-menu transition-[opacity,margin] z-10 duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 mt-2 bg-white shadow-md border border-default-200 rounded" role="menu" aria-orientation="vertical">
                                            <div class="p-1 space-y-1">
                                                <a class="flex items-center py-1.5 px-3 text-base text-default-500 hover:bg-default-100 hover:text-default-700 rounded" [routerLink]="[]">
                                                    <iconify-icon icon="tabler:edit" class="size-4 me-2.5"></iconify-icon>
                                                    <span class="">Share</span>
                                                </a>
                                                <a class="flex items-center py-1.5 px-3 text-base text-default-500 hover:bg-default-100 hover:text-default-700 rounded" [routerLink]="[]">
                                                    <iconify-icon icon="tabler:refresh" class="size-4 me-2.5"></iconify-icon>
                                                    <span class="">Refresh</span>
                                                </a>

                                                <hr class="my-2 -mx-1 border-default-200">

                                                <a class="flex items-center py-1.5 px-3 text-base text-red-500 hover:bg-default-100 rounded" [routerLink]="[]">
                                                    <iconify-icon icon="tabler:trash" class="size-4 me-2.5"></iconify-icon>
                                                    <span class="">Deactivate</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1 class="text-3xl text-default-800 my-2.5">$2,100.00</h1>

                            <p class="text-default-400 text-sm">Last Week</p>

                            <hr class="my-3.5 border-default-200">

                            <div class="flex items-center">
                                <div class="lg:w-1/2">
                                    <div class="flex items-center">
                                        <div class="me-4 shrink">
                                            <iconify-icon icon="tabler:trending-up" height="24" width="24" class="text-green-500"></iconify-icon>
                                        </div>
                                        <div class="grow">
                                            <h5 class="mt-0 mb-0">15%</h5>
                                            <p class="text-muted mb-0 fs-13">Prev Week</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg:w-1/2">
                                    <div class="flex items-center">
                                        <div class="me-3 flex-shrink-0">
                                            <iconify-icon icon="tabler:trending-down" height="24" width="24" class="text-red-500"></iconify-icon>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="mt-0 mb-0">10%</h5>
                                            <p class="text-muted mb-0 fs-13">Prev Month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end grid -->
        </div>
    </section>

    <section class="relative overflow-hidden">
        <div class="container">
            <div class="flex items-center justify-between my-6">
                <div class="">
                    <h4 class="text-base text-default-800">Recent Projects</h4>
                </div>
                <div class="text-end">
                    <a [routerLink]="[]" class="font-semibold flex items-center gap-2 text-primary text-sm">
                        View All
                        <iconify-icon icon="tabler:arrow-right" height="20" width="20"></iconify-icon> </a>
                </div>
            </div><!-- end title -->

            <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6 my-3">
                @for (item of projectData; track $index) {
                <app-recent-projects [item]="item" />
                }
            </div><!-- end grid -->
        </div>
    </section>

    <section class="relative overflow-hidden">
        <div class="container">
            <div class="flex items-center justify-between my-6">
                <div class="">
                    <h4 class="text-base text-default-800">Tasks</h4>
                </div>
                <div class="text-end">
                    <a [routerLink]="[]" class="font-semibold flex items-center gap-2 text-primary text-sm">
                        View All
                        <iconify-icon icon="tabler:arrow-right" height="20" width="20"></iconify-icon>
                    </a>
                </div>
            </div><!-- end title -->

            <div class="flex flex-col gap-y-2 w-full mb-4">
                @for (item of taskData; track item.id) {
                <app-tasks [item]="item" />
                }

            </div>
            <button class="flex items-center justify-center mx-auto mb-6">
                <a [routerLink]="[]" class="inline-flex items-center justify-center rounded text-xs font-semibold border border-primary text-primary hover:shadow-lg hover:bg-primary hover:text-white hover:shadow-primary/30 focus:shadow-none focus:outline focus:outline-primary/40 px-3 py-2 group"><span class="animate-spin inline-block h-4 w-4 border-2 border-primary border-b-transparent group-hover:border-white group-hover:border-b-transparent rounded-full align-[-.125em] me-2"></span>
                    Load More</a>
            </button>
        </div>
    </section>
</div>