<section class="lg:py-24 py-16">
    <div class="container" data-aos="fade-up">

        <div class="grid lg:grid-cols-3 grid-cols-1 gap-10">
            <div class="flex flex-col items-center lg:items-start">
                <div class="border-t-2 border-default-300 w-1/5 mb-7"></div>
                <h1 class="text-3xl">About Us</h1>
            </div>

            <div>
                <p class="text-sm/relaxed tracking-wider text-default-600">
                    Temporibus autem quibusdam et aut as officiis debitis aut rerum necessitatibus saepe eveniet
                    voluptates repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur a
                    sapiente delectus reiciendis.
                </p>
            </div>

            <div>
                <p class="text-sm/relaxed tracking-wider text-default-600">
                    Temporibus autem quibusdam et aut as officiis debitis aut rerum necessitatibus saepe eveniet ut
                    et voluptates repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur a
                    sapiente delectus reiciendis.
                </p>
            </div>
        </div>

        <div class="lg:mt-5">
            <div class="grid lg:grid-cols-3 grid-cols-1 gap-10">
                <div></div>

                <div class="lg:col-span-2">
                    <p class="text-sm/relaxed tracking-wider text-default-600">
                        Temporibus autem quibusdam et aut as officiis debitis aut rerum necessitatibus saepe eveniet
                        voluptates repudiandae sint et molestiae non recusandae itaque earum rerum hic tenetur a
                        sapiente delectus reiciendis.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>