<section class="bg-white py-6 relative">
  <div class="container">
    <div class="flex items-center flex-wrap">
      <div class="grow">
        <div class="flex items-center gap-3">
          <div class="inline-flex items-center">
            <a [routerLink]="[]"
              >About <iconify-icon icon="fa6-solid:minus" class="text-sm"></iconify-icon
            ></a>
          </div>
          <div class="inline-flex items-center">
            <a [routerLink]="[]"
              >Privacy <iconify-icon icon="fa6-solid:minus" class="text-sm"></iconify-icon
            ></a>
          </div>
          <div class="inline-flex items-center">
            <a [routerLink]="[]"
              >Terms <iconify-icon icon="fa6-solid:minus" class="text-sm"></iconify-icon
            ></a>
          </div>
          <div class="inline-flex items-center">
            <a [routerLink]="[]"
              >Developers <iconify-icon icon="fa6-solid:minus" class="text-sm"></iconify-icon
            ></a>
          </div>
          <div class="inline-flex items-center">
            <a [routerLink]="[]"
              >Support <iconify-icon icon="fa6-solid:minus" class="text-sm"></iconify-icon
            ></a>
          </div>
          <div class="inline-flex items-center">
            <a [routerLink]="[]">
              Careers
              <span
                class="inline-flex items-center gap-1.5 py-0.5 px-2 rounded-full text-xs font-semibold bg-green-500/10 text-green-500"
                >We're hiring
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="shrink md:text-end mt-4 lg:mt-0">
        <p class="text-sm mb-0">
          {{ currentYear }} © Prompt. All rights reserved. Crafted by
          <a href="https://coderthemes.com/">Coderthemes</a>
        </p>
      </div>
    </div>
  </div>
</section>
