<section class="py-32 relative bg-orange-700/10">
        <div class="absolute top-0 inset-x-0 hidden sm:block">
            <img src="assets/images/shapes/white-wave.svg" alt="svg" class="w-full -scale-x-100">
        </div>
        <div class="container relative">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Our Customers</span>

            <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 mt-5">
                <h1 class="text-3xl font-semibold">We are working with fortune top 500 companies</h1>
                <p class="text-default-600">With our powerful set of elements, you can make beautiful and customized
                    WordPress websites. Incredible amount of design combinations are possible by Drag & Drop, allowing
                    you to be creative without having any design experience.</p>
            </div>

            <div class="flex flex-wrap items-center justify-around mt-12 gap-5">
                @for(item of clientData; track $index){
                  <img [src]="item" class="w-28">
                }
            </div>
        </div>
        <div class="absolute bottom-0 inset-x-0 hidden sm:block">
            <img src="assets/images/shapes/white-wave.svg" alt="svg" class="w-full scale-x-100 -scale-y-100">
        </div>
    </section>