<section class="bg-gradient-to-r from-default-200/50 to-default-100/50 relative lg:py-24 py-16">
  <!-- white-wave-svg -->
  <div class="absolute top-0 inset-x-0 hidden sm:block">
    <img
      src="assets/images/shapes/white-wave.svg"
      alt="white-wave-svg"
      class="w-full -scale-x-100"
    />
  </div>

  <div class="my-14">
    <div class="container relative">
      <div class="text-center">
        <span class="text-sm bg-primary/10 text-primary/90 rounded-full px-3 py-1"
          >Our Culture
        </span>
        <h1 class="text-3xl/tight font-medium mt-3 mb-4">Our Culture</h1>
        <p class="text-default-500">
          At Prompt, We believe in a fully balanced personal and professional life, importance of
          focus, fun, self-motivation and full transparency.
        </p>
      </div>

      <div class="mt-14" data-aos="fade-up">
        <div class="grid sm:grid-cols-2 grid-cols-1 gap-6 items-center">
          @for (item of cultureData; track $index) {
            <div>
              <img
                [src]="item"
                alt="photo-3"
                class="border-[6px] border-white bg-white shadow-md"
              />
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
