<section class="xl:py-24 py-16 overflow-x-hidden">
    <div class="container">
        <div>
            <div class="grid lg:grid-cols-2 grid-cols-1 2xl:gap-24 gap-10 items-center">

                <div class="order-2 lg:order-1">
                    <span class="text-sm bg-red-500/10 text-red-600 rounded-full px-3 py-1">Feature</span>
                    <h1 class="text-3xl/tight font-medium mt-3 mb-4">Automate everything</h1>
                    <p class="text-default-500">You don't need to manully follow up with your visitors. The Prompt
                        takes care of it and follow up automatically with them to understand their needs</p>
                    <button class="mt-12 flex items-center">
                        <a [routerLink]="[]" class="border border-primary text-primary rounded-md flex items-center hover:bg-primary hover:text-white hover:shadow-lg hover:shadow-primary/30 focus:shadow-none focus:outline focus:outline-primary/40 transition-all duration-500 py-2 px-4">Learn
                            more <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon></a>
                    </button>
                </div>

                <div class="order-1 lg:order-2" data-aos="fade-left" data-aos-duration="1000">
                    <img src="assets/images/features/desktop1.gif">
                </div>
            </div>
        </div>

        <div class="xl:py-24 py-16">
            <div class="grid lg:grid-cols-2 grid-cols-1 2xl:gap-24 gap-10 items-center">

                <div>
                    <img src="assets/images/hero/desktop.png" data-aos="fade-right" data-aos-duration="1500">
                </div>

                <div>
                    <h1 class="text-3xl/tight font-medium mt-3 mb-4">Auto-tune your marketing campaigns</h1>
                    <p class="text-default-500">The Prompts keeps an eye on your all marketting effort and auto tune
                        the marketing campaigns settings to make them perform better</p>
                    <button class="mt-12 flex items-center">
                        <a [routerLink]="[]" class="border border-primary text-primary flex items-center rounded-md hover:bg-primary hover:text-white hover:shadow-lg hover:shadow-primary/30 focus:shadow-none focus:outline focus:outline-primary/40 transition-all duration-500 py-2 px-4">Learn
                            more <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon></a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>