<section class="py-20" data-aos="fade-up">
    <div class="container">
        <div class="text-center">
            <h1 class="text-3xl font-medium">Supported coins</h1>
            <p class="font-medium text-default-500 mt-5 mb-4">Fastest way to buy or sell
                <span class="text-default-900">popular</span> crypto coins.
            </p>
        </div>

        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-x-5 gap-y-14 mt-16">
            @for (item of cryptoData; track $index) {
            <div class="flex items-center gap-5">
                @if (!item.hasBg) {
                <iconify-icon [icon]="item.icon" [class]="item.iconClass"></iconify-icon>
                } @else {
                <div class="h-12 w-12 rounded-full flex items-center justify-center" [class]="item.bgClass">
                    <iconify-icon [icon]="item.icon" [class]="item.iconClass"></iconify-icon>
                </div>
                }
                <h4 class="text-base">{{ item.name }}</h4>
            </div>
            }
        </div>

        <div class="text-center mt-16">
            <a [routerLink]="[]" class="inline-flex items-center py-3 px-6 rounded border border-primary text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50 transition-all duration-500">View
                complete list <iconify-icon icon="fa6-solid:arrow-right" class="ms-2"></iconify-icon></a>
        </div>
    </div>
</section>