<section class="pt-40 pb-20 bg-primary/5 relative overflow-hidden">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 items-center">
            <div>
                <h1 class="md:text-5xl/tight text-3xl font-semibold mb-7">The
                    <span class="relative after:bg-green-200 md:after:h-6 after:h-4 after:w-full after:inset-x-0 after:bottom-0 after:absolute after:-z-10">Fastest</span>
                    & Secure way to Buy, Sell and Trade with <span class="typewrite" > <span class="wrap">{{ currentText }}</span> </span>
                </h1>
                <p class="text-default-500 leading-7">A seamless, flexible and diverse platform to buy, sell and
                    manage your cryptocurrency portfolio</p>
                <div class="py-14">
                    <div class="flex flex-wrap items-center gap-4">
                        <input type="text" id="fname" name="fname" placeholder="Enter Your Email" class="form-input pe-10 text-sm font-medium focus:ring-0 focus:border-default-500 rounded border-default-400">
                        <a [routerLink]="[]" class="py-2 px-4 rounded text-white bg-primary hover:shadow-lg hover:shadow-primary/50 focus:outline focus:outline-primary/50 transition-all duration-500">Get
                            Started</a>
                    </div>
                    <p class="text-default-4
                        00 mt-2">Already using Prompt?
                        <a [routerLink]="[]" class="text-default-800 hover:text-primary">Log In</a>
                    </p>
                </div>
            </div>

            <div class="2xl:w-[130%] relative ms-20">
                <div class="p-3 rounded-md bg-white shadow-lg">
                    <img src="assets/images/hero/crypto.png" class="rounded-md">
                </div>
                <div class="hidden sm:block">
                    <div class="after:w-32 after:h-32 after:absolute after:-bottom-10 after:-start-12 after:-z-10 after:bg-[url('assets/images/pattern/dot2.svg')]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>