 <section class="pt-20">
        <div class="container">

            <div class="py-14">
                <div class="flex flex-wrap items-center gap-2 bg-default-100 py-2 px-3">
                    <a [routerLink]="[]" class="transition-all hover:text-primary">Home</a> /
                    <a [routerLink]="[]" class="transition-all hover:text-primary">Blog</a> /
                    <p class="text-default-500">Announcing-the-free-upgrade</p>
                </div>
            </div>

            <div class="lg:w-4/5">
                <span class="bg-orange-500/10 text-orange-500 font-medium rounded-md text-xs py-1 px-2"><a [routerLink]="[]">Announcement</a></span>
                <h1 class="lg:text-5xl/snug text-3xl/snug mt-3">Announcing the free upgrae for the subscribed plans</h1>
            </div>

            <div class="mb-8">
                <div class="flex flex-wrap items-center justify-between gap-6">

                    <div class="flex items-center gap-3 mt-7">
                        <img src="assets/images/avatars/img-1.jpg" alt="avatar" class="h-11 w-11 rounded-full">

                        <div>
                            <h6 class="text-sm transition-all hover:text-primary"><a [routerLink]="[]">Emily Blunt</a></h6>
                            <p class="text-sm text-default-500">11 Mar, 2020 · 3 min read</p>
                        </div>
                    </div>

                    <div class="flex gap-2">
                        <p class="text-sm text-default-500">SHARE:</p>
                        <div class="flex gap-3">
                            <span>
                                <a [routerLink]="[]">
                                    <iconify-icon icon="tabler:brand-facebook" width="20" height="20" class="text-blue-500"></iconify-icon>
                                </a>
                            </span>
                            <span>
                                <a [routerLink]="[]">
                                    <iconify-icon icon="tabler:brand-x" width="20" height="20" class="text-teal-500"></iconify-icon>
                                </a>
                            </span>
                            <span>
                                <a [routerLink]="[]">
                                    <iconify-icon icon="tabler:brand-instagram" width="20" height="20" class="text-red-500"></iconify-icon>
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
     <section>
        <div class="container">

            <p class="text-sm/relaxed tracking-wider text-default-600 mb-5">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Suscipit officia neque beatae at inventore excepturi numquam sint commodi alias, quam
                consequuntur corporis ex, distinctio eaque sapiente pariatur iure ad necessitatibus in quod obcaecati
                natus consequatur. Sed dicta maiores, eos culpa.</p>
            <p class="text-sm/relaxed tracking-wider text-default-600 mb-6">Voluptatum animi, voluptate sint aperiam
                facere
                a nam, ex reiciendis eum nemo ipsum nobis, rem illum cupiditate at quaerat amet qui recusandae hic,
                atque laboriosam perspiciatis? Esse quidem minima, voluptas necessitatibus, officia culpa quo nulla,
                cupiditate iste vel unde magni.</p>

            <div>
                <img src="assets/images/blog/hero-post.png" class="rounded-md">
                <p class="text-xs text-default-500 mt-2 text-center">The image caption referencing the above image</p>
            </div>

            <h1 class="text-xl mb-3 mt-10">Itaque earum rerum hic tenetur sapiente delectu</h1>
            <p class="text-sm/relaxed tracking-wider text-default-600 mb-6">Sed ut perspiciatis unde omnis iste natus
                the
                error sit voluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo Et harum quidem rerum facilis
                est et expedita distinctio nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit
                quo minus id quod maxime placeat facere possimus omnis voluptas assumenda est omnis dolor repellendus.
            </p>

            <div class="bg-default-100 p-8 mb-6">
                <h5 class="text-base sm:text-lg font-normal text-default-600 mb-3">Perspiciatis unde omnis iste natus
                    error
                    voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beataevitae dicta sunt explicabo tempore cum soluta.</h5>
                <p class="text-default-500 font-light text-sm"><i class="iconify fa6-solid--minus me-2"></i> Christian Hall</p>
            </div>

            <p class="text-sm/relaxed tracking-wider text-default-600 mb-5">At vero eos et accusamus et iusto odio
                dignissimos ducimus that qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et
                quas molestias excepturi sint occaecati cupiditate provident similique sunt in culpa qui officia
                deserunt mollitia animi id est laborum et fuga.</p>
            <p class="text-sm/relaxed tracking-wider text-default-600 mb-5">Itaque earum rerum hic tenetur sapiente
                delectu
                aut reiciendis voluptatibus maiores alias consequ perferendis doloribus asperiores repellat. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem
                aperiam eaque ipsa quae ab illo inventore veritatisquasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <p class="text-sm/relaxed tracking-wider text-default-600 mb-5">Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam nisi aliquid ex ea commodi consequatur? Quis autem vel
                eum iure reprehenderit qui in ea voluptate lit esse quam nihil molestiae consequatur eligendi optio
                cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis voluptas assumenda est vel
                illum qui dolorem eum fugiat quo voluptas aperiam, eaque ipsa quae ab illo inventore.</p>


            <div>
                <div class="grid sm:grid-cols-2 grid-cols-1 gap-8 my-10">
                    <div>
                        <img src="assets/images/photos/3.jpg" class="rounded">
                    </div>
                    <div>
                        <img src="assets/images/photos/4.jpg" class="rounded">
                    </div>
                    <div>
                        <img src="assets/images/photos/5.jpg" class="rounded">
                    </div>
                    <div>
                        <img src="assets/images/photos/6.jpg" class="rounded">
                    </div>
                </div>
            </div>

            <h6 class="text-sm/relaxed tracking-wider mb-3">Conclusion</h6>
            <p class="text-sm/relaxed tracking-wider text-default-600 mb-5">Itaque earum rerum hic tenetur sapiente
                delectus aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                repellat qui dolorem ipsum quia dolor sit amet consectetur velitsedquia non numquam eius modi tempora
                incidunt.</p>
            <p class="text-sm/relaxed tracking-wider text-default-600 mb-5">Nemo enim ipsam voluptatem quia voluptas sit
                aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt.</p>

            <div class="flex flex-col gap-3">
                <p class="text-sm tracking-wider text-default-600"><iconify-icon icon="fa6-solid:minus" class="me-3"></iconify-icon>Dream places
                </p>
                <p class="text-sm tracking-wider text-default-600"><iconify-icon icon="fa6-solid:minus" class="me-3"></iconify-icon>Walking/Hiking
                    tours</p>
                <p class="text-sm tracking-wider text-default-600"><iconify-icon icon="fa6-solid:minus" class="me-3"></iconify-icon>Tennis lessons
                    with expert coaches</p>
                <p class="text-sm tracking-wider text-default-600"><iconify-icon icon="fa6-solid:minus" class="me-3"></iconify-icon>Sailing
                    adventures
                </p>
            </div>

            <div class="flex flex-wrap sm:gap-2 gap-5 mt-10">
                <div>
                    <a [routerLink]="[]" class="text-xs bg-default-200 rounded-md font-medium transition-all hover:shadow-md hover:bg-default-300/80 focus:bg-default-300/80 py-2 px-4">Startup</a>
                </div>
                <div>
                    <a [routerLink]="[]" class="text-xs bg-default-200 rounded-md font-medium transition-all hover:shadow-md hover:bg-default-300/80 focus:bg-default-300/80 py-2 px-4">Website
                        Design</a>
                </div>
                <div>
                    <a [routerLink]="[]" class="text-xs bg-default-200 rounded-md font-medium transition-all hover:shadow-md hover:bg-default-300/80 focus:bg-default-300/80 py-2 px-4">Website
                        Development</a>
                </div>
                <div>
                    <a [routerLink]="[]" class="text-xs bg-default-200 rounded-md font-medium transition-all hover:shadow-md hover:bg-default-300/80 focus:bg-default-300/80 py-2 px-4">Tailwind</a>
                </div>
            </div>

            <div class="flex gap-2 mt-8 mb-14">
                <p class="text-sm text-default-500">SHARE:</p>
                <div class="flex gap-3">
                    <span>
                        <a [routerLink]="[]">
                            <iconify-icon icon="tabler:brand-facebook" width="20" height="20" class="text-blue-500"></iconify-icon>
                        </a>
                    </span>
                    <span>
                        <a [routerLink]="[]">
                            <iconify-icon icon="tabler:brand-x" width="20" height="20" class="text-teal-500"></iconify-icon>
                        </a>
                    </span>
                    <span>
                        <a [routerLink]="[]">
                            <iconify-icon icon="tabler:brand-instagram" width="20" height="20" class="text-red-500"></iconify-icon>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </section>