<section class="xl:py-24 py-16">
    <div class="container" data-aos="fade-up" data-aos-duration="1500">
        <div class="text-center">
            <span class="text-sm font-medium py-1 px-3 rounded-full text-primary bg-primary/10">Pricing</span>
            <h1 class="text-3xl/tight font-medium mt-3 mb-4">Pricing Plans </h1>
            <p class="text-default-500">Pricing that <span class="text-primary">works </span> for everyone.</p>
        </div>

        <div class="pt-16 overflow-x-auto">
            <div class="inline-block overflow-hidden">
                <table class="min-w-full leading-normal">
                    <thead>
                        <tr class="text-center border-t border-default-200 border-b-2">
                            <th class="px-5 py-4 xl:w-2/5 w-1/2 text-xs text-start border-b-2 border-t border-default-200"></th>
                            <th class="px-5 py-4 xl:w-[15%] w-1/4">
                                <h1>Starter</h1>
                                <p class="text-default-500 text-xs">$40/mo</p>
                            </th>
                            <th class="px-5 py-4 w-1/4 border-s border-default-200">
                                <h1>Professional <span class="inline-flex text-xs bg-red-500 text-white rounded-full py-1 px-3">Popular</span>
                                </h1>
                                <p class="text-default-500 text-xs">$60/mo</p>
                            </th>
                            <th class="px-5 py-4 w-[10%] border-s border-default-200">
                                <h1>Enterprise</h1>
                                <p class="text-default-500 text-xs">$300/mo</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>Landing pages</p>
                            </td>
                            <td class="p-3">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>Drag-and-drop editor</p>
                            </td>
                            <td class="p-3"></td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>Email marketing</p>
                            </td>
                            <td class="p-3">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>Ad retargeting</p>
                            </td>
                            <td class="p-3">
                                <span class="text-xs inline-flex bg-primary text-white rounded-full py-1 px-3">Add-on
                                    Available</span>
                            </td>
                            <td class="p-3 border-s border-default-200"></td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>Messenger integration</p>
                            </td>
                            <td class="p-3"></td>
                            <td class="p-3 border-s border-default-200"></td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>Live chat</p>
                            </td>
                            <td class="p-3"></td>
                            <td class="p-3 border-s border-default-200">
                                <span class="text-xs inline-flex bg-primary text-white rounded-full py-1 px-3">Add-on
                                    Available</span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>Conversational bots</p>
                            </td>
                            <td class="p-3"></td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="text-center border-b border-default-200">
                            <td class="p-3 text-start">
                                <p>SEO recommendations & optimizations</p>
                            </td>
                            <td class="p-3"></td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                            <td class="p-3 border-s border-default-200">
                                <span><iconify-icon icon="fa6-solid:check" class="text-green-500"></iconify-icon></span>
                            </td>
                        </tr>
                        <tr class="border-b border-default-200">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</section>